
<h1 class='recipe-title'>The Recipe App</h1>
<div class='recipe-container'>
    {{#each recipes}}
            <div class='recipe-card'>
                <div class='recipe-infos'>
                    <a href="/recipe/{{_id}}">
                        <img src={{image}} alt={{name}} />
                    </a>
                    <h3>{{capitalize name}}</h1>
                    <p>Stars: {{rating}}</h1>
                    <p>Reviews: {{numReviews}}</p> 
                    <p>{{wordBreak description}}</p> 
                    <br/>
                    <br/>
                    <br/>
                </div>
            </div>
    {{/each}}
</div>